/* 
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

:root {
    --main-bg: hsl(233, 49%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --violet: hsl(277, 64%, 61%);
    --dark-violet: hsla(277, 76%, 25%, 0.6);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsla(0, 0%, 100%, 0.75);
    --dark-gray: hsla(0, 0%, 100%, 0.6); 
}

html {
    font-size: 15px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background: var(--main-bg);
    padding-top: 2rem;
}

/* Typography */
p {
    color: var(--light-gray);
    line-height: 1.7rem;
}

h2 {
    color: var(--white);
    font-size: 2.27rem;
    line-height: 2.94rem;
    margin-bottom: 2rem;
}

h2 span {
    color: var(--violet);
}

h4 {
    color: var(--white);
    font-size: 1.73rem;
    margin-bottom: 0.5rem;
}

.stats__label {
    color: var(--dark-gray);
    font: 0.8rem 'Lexend Deca', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Layout */
.stats__container {
    display: flex;
    background: var(--card-bg);
    border-radius: 8px;
    max-width: 74rem;
    margin: 0 auto;
    overflow: hidden;
}

.stats__photo,
.stats__content {
    width: 50%;
}

.stats__photo {
    background: url('./images/image-header-desktop.jpg') no-repeat center center;
    background-size: cover;
    order: 1;
    position: relative;
}

.stats__photo::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--dark-violet);
    /* opacity: 0.7; */
    position: absolute;
}

.stats__content {
    padding: 5rem 7.6rem 4rem 4.7rem;
}

.stats__content > p {
    margin-bottom: 5rem;
}

.stats__count {
    display: flex;
}

.stats__count > div:not(:last-child) {
    margin-right: 4.13rem;
}

/* Responsive */
@media only screen and (max-width: 69.375rem) {
    .stats__container {
        max-width: 88%;
    }
}

@media only screen and (max-width: 63.75rem) {
    .stats__container {
        flex-direction: column;
    }

    .stats__photo,
    .stats__content {
        width: auto;
    }

    .stats__photo {
        order: 0;
        min-height: 15rem;
    }

    .stats__content {
        text-align: center;
    }

    .stats__content > p {
        margin-bottom: 3.125rem;
    }

    .stats__count {
        flex-direction: column;
    }

    .stats__count > div:not(:last-child) {
        margin: 0 0 2.1875rem 0;
    }
}

@media only screen and (max-width: 30rem) {
    h2 {
        font-size: 1.75rem;
        line-height: 1.875rem;
    }

    .stats__photo {
        background: url('./images/image-header-mobile.jpg') no-repeat center center;
        background-size: cover;
    }

    .stats__content {
        padding: 2.5rem 1.875rem 2.1875rem 1.875rem;
    }
}